@import "./styles.css";

.avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 1px;
}

.avatar-outlined {
    border: 1px solid var(--primary-color);
}

.avatar-sm {
    width: 2rem;
    height: 2rem;
}

.avatar-lg {
    width: 4rem;
    height: 4rem;
}

.avatar-xl {
    width: 6rem;
    height: 6rem;
}

.avatar-relative {
    position: relative;
    right: 1rem;
}
