@import "./styles.css";

.card-vertical {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 16rem;
    margin: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.25rem;
    /* border: 1px solid black; */
}

.card-badge {
    font-size: 0.875rem;
    padding: 0.2rem 0.5rem;
    position: absolute;
    top: 2rem;
    left: 0rem;
    color: white;
    background-color: var(--primary-color);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.card-image {
    max-width: 16rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-text {
    text-align: justify;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.text-stricked {
    text-decoration: line-through;
    color: var(--secondary-dark-color);
}

.text-colored {
    color: var(--primary-color)
}

.card-text h3 {
    margin: 0rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.card-button .btn-primary {
    text-transform: uppercase;
    flex-grow: 1;
}

.card-button {
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
}

/* card with dismiss  */
.card-dismiss .icon-cross {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    color: var(--secondary-dark-color);
    background-color: var(--white-color);
    opacity: 0.5;
    border-radius: 50%;
    padding: 0rem 0.25rem;
}

.card-dismiss .icon-cross:hover {
    color: var(--white-color);
    background-color: var(--secondary-dark-color);
    opacity: 1;
}

.box-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.24);
}

.box-shadow-hover:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.24);
}

/* card horizontal */
.card-horizontal {
    position: relative;
    display: flex;
    max-height: 16rem;
    max-width: 33rem;
    margin: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.25rem;
    border: 1px solid var(--light-color);
}

.card-horizontal-image {
    max-height: 16rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card-horizontal-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-horizontal-text {
    padding: 0rem 1rem;
    padding-right: 3rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.card-horizontal-badge .card-badge {
    top: 1.2rem;
}

/* card with avatar */
.card-avatar {
    max-width: 21.67rem;
    text-transform: initial;
    /* border: 1px solid black; */
}

.card-avatar .card-image {
    max-width: 21.67rem;
}

.card-description {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.875rem;
}

.card-description .card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    padding-left: 1rem;
    text-align: left;
}

.card-header {
    position: relative;
}

.card-badge-bottom {
    position: absolute;
    bottom: 0.75rem;
    right: 0.5rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 0.1rem 0.3rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

.card-inactive {
    pointer-events: none;
    opacity: 0.5;
}

/* card text only  */
.card-textise {
    max-width: 21.67rem;
    text-transform: initial;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.25rem;
}

.card-textise .title, .para{
    margin: 0;
}

.card-textise .para {
    text-align: justify;
}

/* card overlay */
.card-overlay {
    padding: 1rem;
    color: var(--white-color);
}