@import "./styles.css";

.main-getting-started {
    display: grid;
    grid-template-areas: 
    "img img intro intro"
    "install install install install";
    top: 4rem;
    position: relative;
}

.main-img {
    grid-area: img;
    display: flex;
    width: 35rem;
}

.introduction {
    grid-area: intro;
    padding-left: 1rem;
}

.installation {
    grid-area: install;
    display: flex;
    justify-content: space-between;
}

.installation .content {
    max-width: 40rem;
}

.installation .code-snippet-iframe{
    width: 100%;
}

.grid-column-2 {
    border: 1px solid black;
}