@import "root.css";
@import "button.css";
@import "avatar.css";
@import "badge.css";
@import "toast.css";
@import "alert.css";
@import "card.css";
@import "input.css";
@import "list.css";
@import "image.css";
@import "navbar.css";
@import "typography.css";
@import "grid.css";
@import "main.css";
@import "rating.css";
@import "footer.css";
@import "modal.css";

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem;
    align-items: center;
}

.flex-right {
    align-content: flex-end;
    justify-content: left;
}

.container-flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 1rem;
    align-items: center;
}

.container {
    margin-left: 1rem;
    padding-left: 1rem;
}

.container-inside {
    padding: 0.5rem 1rem;
    margin: auto;
    max-width: 64rem;
}

body {
    /* background-color: var(--primary-dark-color);
    color: white; */
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    margin: 0rem;
    position: relative;
}

.code-snippet-iframe {
    text-align: center;
    margin: 1rem;
}

.code-snippet-iframe iframe {
    width: 48rem;
    max-height: 14rem; 
    border: 0; 
    transform: scale(1); 
    overflow:scroll;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}

hr {
    color: var(--light-gray);
}

.no-margin {
    margin: 0rem;
}